@import 'styles/variables';

.cell {
  width: $CELL_SIZE;
  height: $CELL_SIZE;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: $FIGURE_SIZE;
    height: $FIGURE_SIZE;
    position: relative;
  }
}

.Black {
  background: $BLACK;
}

.White {
  background: $WHITE;
}

.selected {
  background: $ORANGE;
}

.available {
  background: $GREEN;
}