@import 'styles/variables';

.timer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: $GAP_10;
}

.text {
  display: flex;
  align-items: center;
  min-height: 30px;
  gap: $GAP_10;
}