@import 'styles/variables';

.lost {
  display: flex;
  flex-direction: column;
  gap: $GAP_10;
  height: 450px;
  padding: $GAP_15;
  background: #B3BAC2;
  border: 1px solid $PRIMARY;
  border-radius: $BOARD_BORDER;

  & > ol {
    padding-left: 25px;
  }
}