@import 'styles/variables';

.gameInfo {
  display: flex;
  flex-direction: column;
  gap: $GAP_15;
  border: 1px solid $PRIMARY;
  padding: $GAP_15;
  border-radius: $BOARD_BORDER;
  min-width: 310px;
}

.player {
  display: flex;
  align-items: center;
}